<div class="container">

  <div class="header">
    <mat-progress-bar *ngIf="hideprogress" mode="determinate" [value]="progressValue"
      style="position: absolute;"></mat-progress-bar>

    <div class="header-1" (click)="reloadPage()">
      SolarMonitor
    </div>
    <div class="header-2">
      <a (click)="openDialog('home')">Home</a>
      <p></p>
      <a (click)="openDialog('abount')">About</a>
      <p></p>
      <a (click)="openDialog('contact')">Contact</a>
    </div>
  </div>
  <div class="main">
    <div class="main-1">
      <p>
        AI Based Performance Monitoring
        <br> for Photovoltaic Systems
      </p>
    </div>
    <div class="main-2">
      <div class="main-2-1">
        <mat-card class="main-card">
          <p>Login</p>
          <mat-form-field>
            <mat-label>Username or Email</mat-label>
            <input matInput placeholder="" value="" id="username" [(ngModel)]="username">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" id="password" [(ngModel)]="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div class="main-card-groupbutton">
            <p-toast></p-toast>
            <button style="font-family: 'Noto Sans Thai', sans-serif;" class="main-bt-login" mat-raised-button
              (click)="login()" color="primary">เข้าสู่ระบบ</button>
            <!-- <div>
              <div class="main-forgot"><a routerLink="" (click)="openDialog('forgot')">Forgot your password</a><br></div>
            </div> -->
            <button class="main-bt-createaccount" mat-raised-button
              style="background-color:var(--success-color);color: white;" (click)="openDialog('createaccount')">Create New
              Account</button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-1">
      <img src="./../../assets/logo NU.png" alt="">
      <p></p>
      <div>
        <div>Naresuan University</div>
        <div style="font-size: 12px;">
          99, Moo. 9, Tambon Tha Pho, Amphoe Mueang <br> Phitsanulok, Chang Wat Phitsanulok 65000
        </div>
      </div>
    </div>
    <div class="footer-2">
      <p></p>
      <div>
        <div>
          Tel
        </div>
        <div>
          064-424-98XX
        </div>
      </div>
      <div>
        <div>
          Email
        </div>
        <div>
          Thammasornl62@nu.ac.th
        </div>
      </div>
    </div>
  </div>
</div>
