<div class="header">
  <div class="header-1">
    <div class="header-1-1">
      <mat-form-field appearance="fill">
        <mat-label>Interval selector</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let Interval of IntervalSelector" [value]="Interval.value">
            {{Interval.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="selectedValue">
      <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" [showIcon]="true"></p-calendar>
    </div>
  </div>
</div>
<div>
  <div class="main">
    <mat-card class="main-1">
      <div class="main-1-p">
        <p style="font-size: 18px;">Energy Production</p>
        <div style="display: flex;">
          <div>
            <img style="width: 40px;height: auto;" src="https://cdn-icons-png.flaticon.com/512/4719/4719549.png" alt="">
          </div>
          <div>
            <p style="display: flex;align-items: center;height: 40px;font-size: 25px;font-weight: 600;">112 kWh</p>
          </div>
        </div>
        <div style="padding-left: 2.5rem;margin-top: -1.2rem;">
          <p style="color: red;">50kWh</p>
        </div>
      </div>
      <div class="main-1-1" style="background: rgb(69, 97, 174);"></div>
    </mat-card>
    <mat-card class="main-1">
      <div class="main-1-p">
        <p style="font-size: 18px;">Energy Production</p>
        <div style="display: flex;">
          <div>
            <img style="width: 40px;height: auto;" src="https://cdn-icons-png.flaticon.com/512/4719/4719549.png" alt="">
          </div>
          <div>
            <p style="display: flex;align-items: center;height: 40px;font-size: 25px;font-weight: 600;">112 kWh</p>
          </div>
        </div>
        <div style="padding-left: 2.5rem;margin-top: -1.2rem;">
          <p style="color: red;">50kWh</p>
        </div>
      </div>
      <div class="main-1-1" style="background: rgb(186, 47, 81);"></div>
    </mat-card>
    <mat-card class="main-1">
      <div class="main-1-p">
        <p style="font-size: 18px;">Energy Production</p>
        <div style="display: flex;">
          <div>
            <img style="width: 40px;height: auto;" src="https://cdn-icons-png.flaticon.com/512/4719/4719549.png" alt="">
          </div>
          <div>
            <p style="display: flex;align-items: center;height: 40px;font-size: 25px;font-weight: 600;">112 kWh</p>
          </div>
        </div>
        <div style="padding-left: 2.5rem;margin-top: -1.2rem;">
          <p style="color: red;">50kWh</p>
        </div>
      </div>
      <div class="main-1-1" style="background: rgb(245, 195, 66);"></div>
    </mat-card>
    <mat-card class="main-1">
      <div class="main-1-p">
        <p style="font-size: 18px;">Energy Production</p>
        <div style="display: flex;">
          <div>
            <img style="width: 40px;height: auto;" src="https://cdn-icons-png.flaticon.com/512/4719/4719549.png" alt="">
          </div>
          <div>
            <p style="display: flex;align-items: center;height: 40px;font-size: 25px;font-weight: 600;">112 kWh</p>
          </div>
        </div>
        <div style="padding-left: 2.5rem;margin-top: -1.2rem;">
          <p style="color: red;">50kWh</p>
        </div>
      </div>
      <div class="main-1-1" style="background:rgb(91,174,130);"></div>
    </mat-card>
  </div>
</div>
<div class="main2">
  <div class="main2-1">
    <mat-form-field appearance="fill">
      <mat-label>Toppings</mat-label>
      <mat-select [formControl]="toppings" multiple>
        <mat-select-trigger>
          {{toppings.value?.[0] || ''}}
          <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
            (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="main3">
  <div class="grid-container">
    <div *ngFor="let div of divs" class="grid-item" >
      <mat-card>
        <div class="card">
          <h5>Line Styles</h5>
          <p-chart type="line" [data]="lineStylesData" [options]="basicOptions"></p-chart>
      </div>
      </mat-card>
    </div>
  </div>
</div>
